<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <div id="home_header">
    <div class="icon-welcome">
    <img src="/blog.webp" alt="It is the icon of the connect website.">
    <h1>Welcome to Connect</h1>
    </div>
    <div class="authenticate_button"></div>
    <form action="/authenticate" method="post">
        <div class="button-job">
        <input class="button" type="submit" value="Login" />
        </div>
    </form>
    </div>
    </div>
    <div id="info">
    <h2>What is a Blog?</h2>
    <P>A blog is a type of website or part of a website that consists of regularly updated content, typically in the form of posts or articles. Blogs often cover a variety of topics and are maintained by individuals, groups, or organizations. </P>
    <h3>Key features of Blogs:</h3>
    <ul>
        <li>Chronological Posts: Blog posts are usually displayed in reverse chronological order, with the most recent posts appearing first. This makes it easy for readers to see the latest updates.</li>
        <li>Content Variety: Blogs can cover a wide range of topics, from personal experiences and opinions to industry news, tutorials, reviews, and more. The content can be text-based, but it often includes images, videos, and links.</li>
        <li>Interactivity: Most blogs allow readers to interact with the content by leaving comments, sharing posts on social media, or engaging in discussions. This fosters a sense of community and encourages reader participation.</li>
        <li>Author Information: Blogs often include information about the author(s), such as a bio or contact details. This personal touch can help build a connection between the author and the readers.</li>
        <li>Regular Updates: A blog is typically updated regularly with new posts. The frequency of updates can vary from daily to weekly or monthly, depending on the blog's purpose and the author's schedule.</li>
        <li>Personal or Professional: Blogs can be personal, reflecting the author's thoughts and experiences, or professional, serving as a platform for expertise, brand promotion, or business purposes.</li>
    </ul>
    <h2>What do we Provide?</h2>
    <p>This website functions as a platform were every authorized user can create blogs and even access blogs written by the members of the platform.</p>
    </div>
    <%- include("partials/footer.ejs") %>
</body>
</html>
